{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flights</h1>
    
    <table class="table">
        <tr>
            <th>Agency</th>
            <th>Airline</th>
            <th>From</th>
            <th>To</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
        {% for flight in flights %}
            <tr>
                <td>{{flight.agency.name}}</td> 
                <td>{{flight.airline}}</td> 
                <td>{{flight.from}}</td> 
                <td>{{flight.to}}</td> 
                <td>{{flight.duration}} hours</td> 
                <td>&euro; {{flight.price}}</td> 
                
            </tr>
        {% endfor %}
    </table>
        
    <h1>Hotels</h1>
    
    <table class="table">
        <tr>
            <th>Agency</th>
            <th>Name</th>
            <th>Location</th>
            <th>Stars</th>
            <th>Price per night</th>
        </tr>
        {% for hotel in hotels %}
            <tr>
                <td>{{hotel.agency.name}}</td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.location}}</td> 
                <td>{{hotel.stars}}</td> 
                <td>&euro; {{hotel.price}}</td> 
            </tr>
        {% endfor %}
    </table>
{% endblock %}